<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Track History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-grid>
      <ion-item *ngFor="let d of data">
        <ion-row>
          <h6 col-2><ion-icon  [name]="d.icon" item-start></ion-icon></h6>
          <h6 col-5>{{d.type}}</h6>
          <h6 *ngIf='d.date' col-5>{{d.date | date: 'short' }}</h6>
          <h6 *ngIf='!d.date' col-5>No Date</h6>
        </ion-row>
          <div class="prive-btn" ion-button clear item-end>
            <span class="number-circle">{{d.amount}} $</span>
          </div>

      </ion-item>
    </ion-grid>
  </ion-list>


</ion-content>